<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Dosis|Nunito|Open+Sans+Condensed:300|Raleway" rel="stylesheet">
  <!--FONT TYPE!-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="static/kleos_project/css/styles.css">
  <title>Kleos</title>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img src="static/kleos_project/images/logo.png" style="width: 240px" alt=""> <!--color code for the logo is : #0066ff -->
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="justify-content-end collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="justify-content-end navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/jobs">Get a Job Now <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resume/submit">Submit a Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employers">For Employers</a>
          </li>
          <li class="nav-item">
            <a class="d-inline nav-link" href="/signin">Sign In <img src="static/kleos_project/images/astronaut.png" style="width: 45px" alt=""></a>
          </li>          
        </ul>
      </div>
    </nav>

    <div class="card centerpiece">
      <div class="card-img-overlay">
        <h4 class="card-title">Kleos specializes in navigating the online system of job hunting for you.</h4>
        <img class="astronaut" src="static/kleos_project/images/float.webp" alt="astronaut">
      </div>
    </div>

<!--     <div class="card main-container">
      <img src="static/kleos_project/images/stars.jpeg" class="card-img img-fluid" alt="starspicture">
          <div class="centered card-img-overlay">
            <h1 class="card-text">Kleos specializes in navigating the online system of job hunting for you.</h1>
            <img class="card-text" src="static/kleos_project/images/float.webp" alt="astronaut">
          </div>
    </div> -->

    <div class="statement">
    <center>
      <p>I DON'T WANT TO BE A PRODUCT OF MY ENVIRONMENT.</p>
    </center>
    </div>

    <div class="container text-center" id="services">
      <div class="row">
        <section class="col">
          <img class="mx-auto" src="static/kleos_project/images/icons/id.png" width="100px" class="icons"alt="sample image">
          <h3>Sign - Up</h3>
          <h5>Sign - Up takes less than 50 seconds.</h5>
        </section>
        <section class="col">
          <img class="mx-auto" src="static/kleos_project/images/icons/search.png" width="100px" class="icons" alt="sample image">
          <h3>We Find You a Job</h3>
          <h5>It doesnt have to be rocket science, we'll take care of the application process for you.</h5>
        </section>
        <section class="col">
          <img class="mx-auto" src="static/kleos_project/images/icons/growth.png" width="100px" class="icons" alt="sample image">
          <h3>Stick Around</h3>
          <h5>With us your career will continue to grow as we find you new opportunities.</h5>
        </section>
        </section>
      </div><!-- row -->
    </div><!-- container -->
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
